# 4 inputs for BCD value
set_io bcd[0] 36
set_io bcd[1] 37
set_io bcd[2] 38
set_io bcd[3] 39

# 7 outputs for 7-segment display
set_io seg7[0] 23
set_io seg7[1] 24
set_io seg7[2] 25
set_io seg7[3] 26
set_io seg7[4] 27
set_io seg7[5] 28
set_io seg7[6] 29