set_io val1[0] 25
set_io val1[1] 27
set_io val1[2] 31
set_io val1[3] 34

set_io val2[0] 45
set_io val2[1] 43
set_io val2[2] 38
set_io val2[3] 36

set_io seg7[6] 32
set_io seg7[5] 28
set_io seg7[4] 47
set_io seg7[3] 44
set_io seg7[2] 42
set_io seg7[1] 26
set_io seg7[0] 23
set_io seg7[7] 2

