# 4 inputs for BCD value
set_io bcd[0] 25
set_io bcd[1] 27
set_io bcd[2] 31
set_io bcd[3] 34

set_io seg7[6] 32
set_io seg7[5] 28
set_io seg7[4] 47
set_io seg7[3] 44
set_io seg7[2] 42
set_io seg7[1] 26
set_io seg7[0] 23
